body {
    background-color:black;
    font-family:arial;
    color:white;
}

h1{
    color:grey;
    font-family:verdana;
    text-align:left;
    margin-left:0px;
}

label {
    width:100px;
    display:inline-block;
    margin-left:80px;
    text-align:left;
    font-weight: normal;
}

button {
    display:inline-block;
    margin-left:80px;
    text-align:left;
}

.maindiv {
    background-color:white;
    color:black;
    width:520px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;
    border-radius:25px;
    text-align:left;
}

#result {
    display:inline-block;
    margin-left:80px;
    text-align:left;
}

#rate {
    width:150px;
}

p {
    display:inline;
    margin-left:0px;
    padding-left:0px;
}


